<ion-header>
  <ion-toolbar>
    <ion-title>Locais da Viagem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de locais já associados à viagem -->
  <ion-list>
    <ion-item *ngFor="let location of locations">
      {{ location.description }} <!-- Exibe o nome do local -->
    </ion-item>
  </ion-list>

  <!-- Campo para adicionar o nome do local -->
  <ion-item>
    <ion-input [(ngModel)]="description" placeholder="Local Name"></ion-input>
  </ion-item>

  <!-- Botão para adicionar o local -->
  <ion-button expand="full" (click)="postLocation()">Adicionar Local</ion-button>
</ion-content>
