<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de Pesquisa -->
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="filterTravels()"
    placeholder="Search Travels"
    class="search-bar"
    show-clear-button="focus"
  ></ion-searchbar>

  <!-- Seção de Histórico -->
  <div class="historic-section">
    <ion-title id="historic" class="historic">{{ 'Historic' | translate }}</ion-title>

    <div class="cards">
      <div class="card" *ngFor="let travel of filteredTravels" (click)="openTravelModal(travel)">
        <img [src]="travel.prop1 || 'assets/uploads/default-image.png'" alt="Image" class="card-image" />
        <div class="card-title">{{ travel.prop2 }}</div>
      </div>
    </div>
  </div>
</ion-content>
