<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="register" href="/register">
      <ion-icon name="ticket-outline"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="places" href="/places">
      <ion-icon name="location-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
