<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
  
    <ion-buttons slot="end" class="responsive-icons">
  
      <ion-icon name="location-outline"></ion-icon>
      <ion-select placeholder="Language" interface="popover">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-buttons>  
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">

    <!-- Localização -->
    <ion-item>
      <ion-icon slot="start" name="locate-outline" color="medium"></ion-icon>
      <ion-input placeholder="Localização"></ion-input>
    </ion-item>

    <!-- Selecionar Data -->
    <ion-item button (click)="toggleDatePicker()">
      <ion-icon slot="start" name="calendar-outline" color="medium"></ion-icon>
      <ion-label>Selecionar Data</ion-label>
    </ion-item>

    <!-- Campo de Data -->
    <ion-item *ngIf="showDatePicker">
      <ion-icon slot="start" name="calendar-outline" color="medium"></ion-icon>
      <ion-datetime
        presentation="date"
        placeholder="Selecione a Data"
        display-format="MMM DD, YYYY">
      </ion-datetime>
    </ion-item>

    <!-- Tipo -->
    <ion-item>
      <ion-icon slot="start" name="filter-outline" color="medium"></ion-icon>
      <ion-select placeholder="Tipo">
        <ion-select-option value="type1">Opção 1</ion-select-option>
        <ion-select-option value="type2">Opção 2</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Estado -->
    <ion-item>
      <ion-icon slot="start" name="location-outline" color="medium"></ion-icon>
      <ion-select placeholder="Estado">
        <ion-select-option value="state1">Estado 1</ion-select-option>
        <ion-select-option value="state2">Estado 2</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Descrição -->
    <ion-item>
      <ion-icon slot="start" name="document-text-outline" color="medium"></ion-icon>
      <ion-textarea placeholder="Descrição"></ion-textarea>
    </ion-item>

    <!-- Dados Adicionais -->
    <ion-item>
      <ion-icon slot="start" name="git-branch-outline" color="medium"></ion-icon>
      <ion-input placeholder="Dados Adicionais"></ion-input>
    </ion-item>

    <!-- Gostar -->
    <ion-item>
      <ion-icon slot="start" name="heart-outline" color="medium"></ion-icon>
      <ion-select placeholder="Gostar">
        <ion-select-option value="yes">Sim</ion-select-option>
        <ion-select-option value="no">Não</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Comentários -->
    <ion-item>
      <ion-icon slot="start" name="chatbubble-outline" color="medium"></ion-icon>
      <ion-textarea placeholder="Comentários"></ion-textarea>
    </ion-item>

   <!-- Botão Registrar -->
    <div class="ion-padding">
      <ion-button expand="block" shape="round" size="large">Registrar</ion-button>
    </div>


  </div>
</ion-content>