@use '../../theme/variables' ;

ion-header {
    box-shadow: none;
}

ion-toolbar ion-buttons img {
    width: 100px;
    height: 100px;
    margin-right: -20px;
}

ion-toolbar #title {
    background: variables.$color-gradient;
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 1.2rem; 
    font-weight: 550; 
}

ion-toolbar ion-buttons ion-icon{
    color: variables.$text-color-secondary;
    font-size: 2rem; 
    font-weight: bold;
    margin-right: 10px; 
}
  
  /* Ajustes gerais dos inputs */
  ion-item {
    --padding-start: 12px; /* Aumentei o padding lateral */
    --padding-end: 12px;
    margin: 12px 0; /* Maior espaçamento entre os itens */
    border-radius: 8px;
    --background: #F7F9FC;
    --border-color: #E0E0E0;
    --border-width: 1px;
    --min-height: 55px; /* Aumentei a altura mínima */
  }
  
  ion-item ion-icon {
    font-size: 20px;
  }
  
  /* Botão de registro */
  ion-button {
    font-size: 18px;
    font-weight: bold;
    --background: #6EC1E4; /* Azul claro */
    --color: #FFFFFF; /* Letras brancas */
    --border-radius: 25px;
    padding: 12px 16px; /* Padding no botão */
  }
  
  ion-button:hover {
    filter: brightness(95%);
  }
  
  /* Ajustes gerais */
  .container {
    padding: 0 16px; /* Padding geral da página */
  }
  