<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">

    <!-- Tipo -->
    <ion-item>
      <ion-icon slot="start" name="filter-outline" color="medium"></ion-icon>
      <ion-select placeholder="{{ 'Type' | translate }}">
        <ion-select-option value="type1">{{ 'Type1' | translate }}</ion-select-option>
        <ion-select-option value="type2">{{ 'Type2' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Estado -->
    <ion-item>
      <ion-icon slot="start" name="timer-outline" color="medium"></ion-icon>
      <ion-select placeholder="{{ 'State' | translate }}">
        <ion-select-option value="state1">{{ 'State1' | translate }}</ion-select-option>
        <ion-select-option value="state2">{{ 'State2' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Descrição -->
    <ion-item>
      <ion-icon slot="start" name="document-text-outline" color="medium"></ion-icon>
      <ion-textarea placeholder="{{ 'Description' | translate }}"></ion-textarea>
    </ion-item>

    <!-- Gostar -->
    <ion-item>
      <ion-icon slot="start" name="heart-outline" color="medium"></ion-icon>
      <ion-label>{{ 'Like' | translate }}</ion-label>
      <ion-checkbox slot="end" value="like"></ion-checkbox>
    </ion-item>

    <!-- Capa -->
    <ion-item>
      <ion-icon slot="start" name="image-outline" color="medium"></ion-icon>
      <label for="cover-photo" class="custom-cover-photo">
        {{ 'Cover Photo' | translate }}
      </label>
      <input id="cover-photo" type="file" accept="image/*" />
    </ion-item>

    <!-- Botão Registrar -->
    <div class="ion-padding">
      <ion-button expand="block" shape="round" size="large">{{ 'Register' | translate }}</ion-button>
    </div>

  </div>
</ion-content>