<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
  
    <ion-buttons slot="end" class="responsive-icons">
  
      <ion-icon name="location-outline"></ion-icon>
      <ion-select placeholder="Language" interface="popover" (ionChange)="switchLanguage($event.detail.value)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-buttons>  
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Liked -->
  <div class="liked-section">

    <ion-title id="liked" class="liked">{{ 'Liked' | translate }}</ion-title>

  </div>

  <img src="https://i.pinimg.com/originals/b7/05/29/b7052995cf70b66dc99bc0dadae53219.jpg" alt="Image" class="liked-image">  

  <!-- Historic -->
  <div class="history-section">

    <ion-title id="historic" class="historic">{{ 'Historic' | translate }}</ion-title>

      <div class="cards">

      <div class="card">
        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/448684704.jpg?k=af823f6d5b53821e811a5c457783b660e17c4b0bd05036413d165fccc4b50210&o=&hp=1" alt="Image" class="card-image">
        <h3 class="card-title">Aspen, USA</h3>
      </div>

      <div class="card">
        <img src="https://www.polyglotgathering.com/2024/img/photos/prague2.jpg" alt="Image" class="card-image">
        <h3 class="card-title">Prague, Czech</h3>
      </div>

    </div>

  </div>
  
</ion-content>
