@use '../../theme/variables' ;

ion-header {
    box-shadow: none;
}

ion-toolbar ion-buttons img {
    width: 100px;
    height: 100px;
    margin-right: -20px;
}

ion-toolbar #title {
    background: variables.$color-gradient;
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 1.2rem; 
    font-weight: 550; 
}

ion-toolbar ion-buttons ion-icon{
    color: variables.$text-color-secondary;
    font-size: 2rem; 
    font-weight: bold;
    margin-right: 10px; 
}

ion-content .liked-section{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 50px; 
    margin-bottom: 25px;
}

ion-content .liked-section ion-title {
    font-size: 1.3rem; 
    color: variables.$text-color;
    font-weight: bold; 
}

ion-content .liked-image {
    width: 180px;
    height: 200px;
    margin-top: 10px; 
    border-radius: 25px;
    margin-left: 10px;
}

ion-content .history-section ion-title {
    font-size: 1.3rem; 
    color: variables.$text-color;
    font-weight: bold; 
    margin-top: 50px; 
    margin-bottom: 25px;
}

.history-section {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.history-section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-left: 10px;
    margin-right: 10px;
}

.history-section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 25px;
    box-sizing: border-box;
    width: 170px; 
    margin: 10px;
}

.history-section .card-image {
    width: 100%; 
    height: auto; 
    border-radius: 25px; 
}

.history-section .card-title {
    font-size: 15px; 
    color: variables.$text-color; 
    margin-top: 5px; 
}