<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
  
    <ion-buttons slot="end" class="responsive-icons">
  
      <ion-icon name="location-outline"></ion-icon>
      <ion-select placeholder="Language" interface="popover" (ionChange)="switchLanguage($event.detail.value)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-buttons>  
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Liked -->
  <div class="liked-section">

    <ion-title id="liked" class="liked">{{ 'Liked' | translate }}</ion-title>

  </div>
  
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let travel of favoriteTravels">
        <img [src]="travel.prop1" alt="Image" class="liked-image">
        <ion-icon name="heart" class="heart-icon"></ion-icon>
      </div>
    </div>
  </div>

  <!-- Historic -->
  <div class="history-section">

    <ion-title id="historic" class="historic">{{ 'Historic' | translate }}</ion-title>

    <div class="cards">
      <div class="card" *ngFor="let travel of travels | slice:-4">
        <img [src]="travel.prop1" alt="Image" class="card-image">
        <div class="card-title">{{ travel.prop2 }}</div>
      </div>
    </div>

  </div>
  
</ion-content>
