<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
  
    <ion-buttons slot="end" class="responsive-icons">
  
      <ion-icon name="location-outline"></ion-icon>
      <ion-select placeholder="Language" interface="popover" (ionChange)="switchLanguage($event.detail.value)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-buttons>  
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Liked -->
  <div class="liked-section" *ngIf="favoriteTravels.length > 0">

    <ion-title id="liked" class="liked">{{ 'Favorites' | translate }}</ion-title>

  </div>
  
  <div class="carousel">
    <div class="carousel-inner"></div>
      <div class="carousel-item" *ngFor="let travel of favoriteTravels">
        <img [src]="travel.prop1 || 'assets/uploads/default-image.png'" alt="Image" class="liked-image">
        <ion-icon name="heart" class="heart-icon"></ion-icon>
      </div>
    </div>
  

  <!-- Starting Travels -->
  <div class="history-section" *ngIf="startingTravels.length > 0">

    <ion-title id="historic" class="historic">{{ 'Already Started' | translate }}</ion-title>

    <div class="cards">
      <div class="card" *ngFor="let travel of startingTravels">
        <img [src]="travel.prop1 || 'assets/uploads/default-image.png'" alt="Image" class="card-image">
        <div class="card-title">{{ travel.prop2 }}</div>
      </div>
    </div>

  </div>

  <!-- To Start -->
  <div class="history-section" *ngIf="plannedTravels.length > 0">

    <ion-title id="historic" class="historic">{{ 'To Start' | translate }}</ion-title>

    <div class="cards">
      <div class="card" *ngFor="let travel of plannedTravels">
        <img [src]="travel.prop1 || 'assets/uploads/default-image.png'" alt="Image" class="card-image">
        <div class="card-title">{{ travel.prop2 }}</div>
      </div>
    </div>

  </div>

  <div *ngIf="startingTravels.length === 0 && plannedTravels.length === 0">
    <ion-title class="no-travels">{{ 'No Registered Trips' | translate }}</ion-title>
  </div>
  
</ion-content>
