<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" />
      <ion-title id="title">TravelSync</ion-title>
    </ion-buttons>
  
    <ion-buttons slot="end" class="responsive-icons">
  
      <ion-icon name="location-outline"></ion-icon>
      <ion-select placeholder="Language" interface="popover">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-buttons>  
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
