// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-stack: 'Montserrat', sans-serif;
$text-color: #606060; 
$text-color-secondary: #1381C6; 
$bg-color: #FFFFFF;
$color-gradient: linear-gradient(to right, #1381C6 0%, #1381C6 50%, #1CAB7E 50%, #1CAB7E 100%);